body {
    background-image: url("Grafika/Mapa4.jpg");
    background-size: cover;
    text-align: justify;
}

#zygzakowata {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100px;
    left: 700px;
    background-image: url("Grafika/zygzakowata.jpg");
    background-size: cover;
}

#panel_zygzakowata {
    position: absolute;
    top: 253px;
    left: 650px;
    padding: 5px;
    width: 250px;
    height: 110px;
    background-color: lightgray;
    display: none;
    word-spacing: -3px;
}

#gawial {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 180px;
    right: 380px;
    background-image: url("Grafika/gawial_gangesowy.jpg");
    background-size: cover;
}

#panel_gawial{
    position: absolute;
    top: 180px;
    right: 100px;
    padding: 5px;
    width: 200px;
    height: 140px;
    background-color: lightgray;
    display: none;
}

#kameleon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 220px;
    left: 730px;
    background-image: url("Grafika/kameleon_lamparci.jpg");
    background-size: cover;
}

#panel_kameleon {
    position: absolute;
    top: 540px;
    left: 680px;
    padding: 5px;
    width: 240px;
    height: 180px;
    background-color: lightgray;
    display: none;
}

#bazyliszek {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 100px;
    left: 350px;
    background-image: url("Grafika/bazyliszek_platkoglowy.jpg");
    background-size: cover;
}

#panel_bazyliszek {
    position: absolute;
    top: 530px;
    left: 100px;
    padding: 5px;
    width: 200px;
    height: 140px;
    background-color: lightgray;
    display: none;
    word-spacing: -2px;
}

#tajpan {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 50px;
    right: 200px;
    background-image: url("Grafika/tajpan_australijski.jpg");
    background-size: 150px 150px;
}

#panel_tajpan {
    position: absolute;
    top: 530px;
    right: 355px;
    padding: 5px;
    width: 200px;
    height: 160px;
    background-color: lightgray;
    display: none;
    word-spacing: -1px;
}

#pustyniogwan {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 150px;
    left: 200px;
    background-image: url("Grafika/pustyniogwan.jpg");
    background-size: cover;
}

#panel_pustyniogwan {
    position: absolute;
    top: 160px;
    left: 400px;
    padding: 5px;
    width: 200px;
    height: 165px;
    background-color: lightgray;
    display: none;
    word-spacing: -3px;
}